// Container Utility
//
// Inspired by Stephanie Eckles's Smolcss
// https://smolcss.dev/
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$container-max: var(--container-max, 120ch) !default;
$container-margin: var(--container-margin, 3rem) !default;

:where(.container) {
  width: min(100% - $container-margin, $container-max);
  margin-inline: auto;
}
