// Stack Utility
//
// Inspired by Stephanie Eckles's Smolcss
// https://smolcss.dev/
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.stack {
  display: grid;
  grid-template-areas: "stack";
}

.stack > * {
  grid-area: stack;
}
