// Base
//
// 1. Defensive CSS. This is a common source of problems
//
// 2. Based on Modern Font Stacks
// https://modernfontstacks.com/
//
// 3. Prevent adjustments of font size after orientation changes in iOS.
// From normalize.css
//
// 4. Remove subpixel antialising on MacOS browsers
// https://www.joshwcomeau.com/css/custom-css-reset/#four-font-smoothing-5

// 5. Word wrapping
// https://www.joshwcomeau.com/css/custom-css-reset/#seven-word-wrapping-8
// ––––––––––––––––––––––––––––––––––––––––––––––––––
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat; // 1
}

:where(body) {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", Arial, sans-serif; // 2
  line-height: 1.6;
  -webkit-text-size-adjust: 100%; // 3
  -webkit-font-smoothing: antialiased; // 4
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word; // 5
}
