// Base
//
// 1 - Defensive CSS. This is a common source of problems
//
// 2 - Based on Modern Font Stacks
// https://modernfontstacks.com/
//
// 3 - Prevent adjustments of font size after orientation changes in iOS.
// From normalize.css
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––
*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat; // 1
}

:where(body) {
  color: $color-fg;
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", Arial, sans-serif; // 2
  line-height: 1.6;
  -webkit-text-size-adjust: 100%; // 3
}
