// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

// Default body styles
:where(body) {
  box-sizing: border-box;
  color: $color-fg;
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", Arial, sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
}
