// Blockquote
//
// Inspired by Blockquote from Milligram
// https://github.com/milligram/milligram/blob/main/src/_Blockquote.sass
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:where(blockquote) {
  border-left: 0.3rem solid $color-details-fg;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;

  *:where(:last-child) {
    margin-bottom: 0;
  }
}
