// Button
//
// This only reset the button to remove borders, background,
// change the cursor on hover and inherit the font.
//
// We replace the default focus states with our own
// which uses 'focus-within' and an outline using the primary color
//
// 1. Inherit font
// https://www.joshwcomeau.com/css/custom-css-reset/#six-inherit-fonts-for-form-controls-7
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  :where(&) {
    background-color: inherit;
    cursor: pointer;
    border: none;
    font: inherit; // 1
  }

  :where(&[disabled]) {
    cursor: default;
  }
}
