// Button
//
// This only reset the button to remove borders, background,
// change the cursor on hover and inherit the font.
//
// We replace the default focus states with our own
// which uses 'focus-within' and an outline using the primary color
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––

button,
input[type="button"],
input[type="reset"],
in put[type="submit"] {
  :where(&) {
    background-color: inherit;
    cursor: pointer;
    border: none;
    font: inherit;
  }

  :where(&:focus) {
    outline: none;
  }

  :where(&:focus-visible) {
    outline: 1px solid $color-primary;
    outline-offset: 1px;
  }

  :where(&[disabled]) {
    cursor: default;
  }
}
