// Code
//
// Inspired by Miligram
// https://github.com/milligram/milligram/blob/main/src/_Code.sass
//
// 1. Modern Font Stack
// https://modernfontstacks.com/
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:where(code) {
  background: $color-details-bg;
  border-radius: 0.4em;
  margin: 0 0.2em;
  padding: 0.2em 0.5em;
  white-space: nowrap;
  font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace; // 1
  font-size: 0.85em;
}

:where(pre) {
  background: $color-details-bg;
  border-left: 0.3em solid $color-primary;
  overflow-y: hidden;

  :where(& > code) {
    line-height: 1.4;
    border-radius: 0;
    display: block;
    padding: 1em 1.5em;
    margin: 0;
    white-space: pre;
  }
}
