// Color
//
// We use css custom properties and SCSS defaults,
// This way you can easily change the values
// in CSS or SCSS
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-primary: var(--color-primary, #4871c6) !default;
$color-fg: var(--color-fg, #0a0a0a) !default;
$color-details-bg: var(--color-details-bg, #f4f5f6) !default;
$color-details-fg: var(--color-details-fg, #d1d1d1) !default;
