// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-primary: var(--color-primary, #9b4dca) !default;
$color-fg: var(--color-fg, #0a0a0a) !default;
$color-details-bg: var(--color-details-bg, #f4f5f6) !default;
$color-details-fg: var(--color-details-fg, #d1d1d1) !default;
