// Divider
//
// The divider has a height of 1px and no borders
// You can easily use a gradient as the background
// and change the height
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:where(hr) {
  border: none;
  height: 1px;
  background: $color-details-fg;
}
