// Form
//
// Inspired by Miligram Form components
// https://github.com/milligram/milligram/blob/main/src/_Form.sass
//
// 1. Inherit font
// https://www.joshwcomeau.com/css/custom-css-reset/#six-inherit-fonts-for-form-controls-7
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
  :where(&) {
    background-color: transparent;
    border: 0.1rem solid $color-details-fg;
    border-radius: 0.4em;
    box-shadow: none;
    padding: 0.6em 1em;
    width: 100%;
    font: inherit; // 1
  }

  :where(&:focus) {
    border-color: $color-primary;
    outline: 0;
  }
}

:where(textarea) {
  min-height: 4em;
  resize: vertical;
}
