// Image
//
// Inspired by Normalize and Sanitize
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:where(img, picture) {
  max-width: 100%;
  height: auto;
  display: block;
}

:where(svg:not([fill])) {
  fill: currentColor;
}
