// Link
//
// Only show the link underline when hovering
// Include a focus state similar to buttons
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:where(a) {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
