// List
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:where(ol, dl, ul) {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

:where(ol, dl, ul)[role="list"] {
  list-style: none;
}
