// List
//
// Inspired by Andy Bell Modern CSS Reset
// https://andy-bell.co.uk/a-modern-css-reset/
//
// Forcing the use of `role="list"` fix acessibility problems
// in iOS
//
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:where(ol, dl, ul) {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

:where(ol, dl, ul)[role="list"] {
  list-style: none;
}
