// Media
//
// Inspired by Normalize, Sanitize and Josh W Comeau
// https://www.joshwcomeau.com/css/custom-css-reset/#five-sensible-media-defaults-6
// ––––––––––––––––––––––––––––––––––––––––––––––––––

:where(img, picture, video, canvas, svg) {
  max-width: 100%;
  display: block;
}

:where(svg:not([fill])) {
  fill: currentColor;
}
